@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
